%h3 Welcome

%p 
  We are in closed alpha at the moment but you could ask us for an invite, and don't forget to
  %a{:href=>"http://twitter.com/eventstreamsapp"}
    follow us on Twitter
  to get the latest updates
  
-if signed_in?

  %h4 All events

  %table.events
    -for event in @events
      %tr
        %td= link_to event.title, event_root_url(:subdomain => event.subdomain)  
        %td= h event.start_date
        %td= h event.end_date