%header
  %h1
    =link_to "Eventstreams", root_path
  %blockquote Virtual Venues
%section.elevator
  %p These days it seems like every week there is a new conference, barcamp, meetup, hackday or even symposium announced. Despite popular opinion if anything social media has created MORE opportunities for people to meet face to face not less.

  %p What Eventstreams offers is a tool for event organisers with limited web skills or time to create high quality, modern websites. We believe the online home of a conference is as important as the bricks and mortar venue and we have built a platform that allows anyone to produce beautifully designed, accessible, scalable, mobile friendly event sites with no need for technical skills.
  
  %p We are currently in private beta with three event websites live. <a href="http://bettr.org">BeBettr</a> and <a href="http://wearethirsty.co.uk/">We Are Thirsty</a> use the default "Paper" theme whilst the newest member of our flock, <a href="http://intersections2011.com">Intersections 2011</a> has a custom theme.
  
  %p If you are planning an event or conference and want to take part in our beta test please <a href="/contact">get in touch</a>.
%ul
  %li
    -if signed_in?
      =link_to "Your Account", user_events_path(current_user)
    -else
      =link_to t('authentication.sign_in'), new_session_path, :id=>'signin'
  %li
    =link_to "Follow us on twitter", "http://twitter.com/eventstreamsapp", :id=>'twitter'
  %li
    =link_to "Blog", "http://eventstreams.wordpress.com"
  %li
    =link_to "Feedback", contact_path
    
=render 'sessions/form'