%header
  %h1
    =link_to "Eventstreams", root_path
  %blockquote Virtual Venues
%ul
  %li
    =link_to t('authentication.sign_in'), new_session_path, :id=>'signin'
  %li
    =link_to "Follow us on twitter", "http://twitter.com/eventstreamsapp", :id=>'twitter'
    
=render 'sessions/form'