@import 'reset'
@import 'shared'

/* Default Site Styles */

section#eventstreams
  a
    :color #2687A3
  .button
    :display block
    :background #2687A3
    :color white
    :padding 3px 9px
    +rounded(3px)
    :font
      :size 12px
      :weight bold
    &:hover, &:focus
      :background-color #165161  
  .button.delete
    :padding-left 23px
    :background
      :image url('../images/cross.png')
      :position 8px 50%
      :repeat no-repeat
      :color #700
    &:hover, &:focus
      :background-color #500
  .button.invite
    :padding-left 23px
    :background
      :image url('../images/plus.png')
      :position 8px 50%
      :repeat no-repeat
      :color #070
    &:hover, &:focus
      :background-color #050
  .button.add
    :padding-left 23px
    :background
      :image url('../images/plus.png')
      :position 8px 50%
      :repeat no-repeat
      :color #070
    &:hover, &:focus
      :background-color #050
  input, textarea
    :color #333
    +rounded(3px)
  label
    :color #555
    &:hover, &:focus
      :color #333
  button
    :font-family sans-serif
    +rounded(3px)
    :padding 6px 12px
    :border 0
    :cursor pointer
    :background #070
    :color white
    :font
      :size 14px
      :weight bold
    &:hover, &:focus
      :background-color #050
      

section#eventstreams
  .inner
    :min-width 768px
    :max-width 1024px
    :margin 0 auto
    :position relative
    :padding 22px
  header
    :background-color #2687A3
    :height 88px
    .inner
      :height 100%
      :padding 0 22px
    #site_logo
      :position absolute
      :top 22px
      a
        :display block
        :font
          :size 26px
          :weight normal
        :line-height 21px  
        :padding 11px
        :background rgba(0,0,0,0.1)
        :color white
        :text-shadow 1px -1px 1px rgba(0,0,0,0.3)
        +rounded(5px)
    nav#main
      :position absolute
      :bottom 22px
      :right 22px
      ul
        :float left
        li
          :float left
          :margin-left 11px
          a
            :display block
            :padding 6px 11px
            :background rgba(0,0,0,0.1)
            :color white
            :text-shadow 1px -1px 1px rgba(0,0,0,0.3)
            +rounded(5px)
            &:hover, &:focus
              :background rgba(0,0,0,0.2)
            &:hover, &:active
              :background rgba(0,0,0,0.4)
  nav#event_header
    :background #333
    :height 66px
    .inner
      :padding 16px 22px
      ul
        li
          :position absolute
          a
            :display block
            :padding 6px 11px
            :background rgba(255,255,255,0.1)
            :color #ddd
            :text-shadow 1px -1px 1px rgba(0,0,0,0.3)
            +rounded(5px)
            &:hover, &:focus
              :background rgba(0,0,0,0.2)
              :color white
            &:hover, &:active
              :background rgba(0,0,0,0.4)
        li.title
          :left 22px
        li.site_link
          :right 22px
  section#flash
    div.inner
      :min-width 768px
      :max-width 1024px
      :margin 22px auto 0
      :position relative
      :padding 0
      div
        :clear both
        :padding 18px
        :margin 0
        :background #eee
        +rounded(6px)
  section.main
    :clear both
    section.item_list
      :position relative
      :margin-bottom 22px
      +rounded(11px)
      :border 2px solid #ddd
      :background #fafafa
      :padding 20px
      a.button.add
        :float left
        :margin-top -3px
        :margin-right 18px
      h3
        :color #666
        :text-shadow 1px 1px 1px rgba(255,255,255,1)
        :margin-bottom 21px
      ul
        +rounded(6px)
        :background white
        :border 1px solid #ccc
        :border-width 1px
        :margin-right 88px
        li
          :position relative
          :padding 11px 11px 10px
          :border-bottom 1px solid #ccc
          span, a.event_link
            :position absolute
            :right 22px
            :font-size 11px
          .event_link.disabled
            :font-style italic
            :color #ccc
          a.button.manage
            :float left
            :margin-top -4px
            :margin-left -4px
            :margin-right 11px
          a.button.delete, a.button.invite
            :position absolute
            :right -88px
            :top 7px
            :opacity 0.3
          &:last-child
            :border 0
          &:hover
            a.button.delete, a.button.invite
              :opacity 1
          span.live_edit
            form
              :padding 0
              :margin -2px 0 0 0
              :background transparent
              :border 0
              label, input
                :margin 0
                :display inline
              input
                :padding 1px
                :width 30px
                :border 1px solid #ccc
                :text-align center
              button
                :margin 0
                :font-size 11px
        li.disabled
          :color #bbb
          :font-style italic
          a
            :font-style normal
        li.tweet
          :min-height 44px
          img
            :float left
            :width 44px
            :margin-right 11px
          span
            :display block
            :position static
            :font-size 13px
            :margin-left 59px
            :padding 0
        li.ui-sortable-helper
          :border 1px solid #ccc
          :padding 11px 10px 10px
          :background white
          :opacity 0.9
          +box-shadow(0,1px,6px,rgba(0,0,0,0.4))
      ul#sortable
        li
          :cursor move
          span
            :padding-right 22px
            :background
              :image url(../images/sortable.png)
              :position right 50%
              :repeat no-repeat
    #ajax_status
      :padding 4px 9px
      :font
        :size 11px
        :weight bold
      :color #666
      :background #FFEE7F
      +rounded(4px)
      :position absolute
      :right 11px
      :top 11px
    form
      :margin-bottom 22px
      +rounded(11px)
      :border 2px solid #ddd
      :background #fafafa
      :padding 20px
      ol
        :list-style none
        li
          :font
            :size 12px
            :weight bold
          :color #666
          label
            :display block
            :font
              :size 12px
              :weight bold
          input, textarea
            :font
              :size 12px
              :weight bold
            :padding 6px
            :background white
            :border 1px solid #ccc
            :width 425px
            &:focus
              :border 1px solid #2687A3
              +box-shadow(0px, 1px, 4px, rgba(0,0,0,0.2))
          textarea
            :width 425px
            :height 150px
            :margin-bottom 0
      li.checkbox, li.select, li.date, li.ticklist
        :border 1px solid #ccc
        :width 425px
        :padding 6px
        +rounded(4px)
        :margin-bottom 8px
        label
          :display inline-block
        input
          :width 18px
          :padding 0
          :margin 0
      li.subdomain
        input
          :width 267px
      li.ticklist
        label
          :display block
          :width 100%
        
    nav#event_content
      :width 20%
      :height 100%
      :min-height 100%
      :position absolute
      :top 22px
      ul
        li
          a
            :padding 9px 18px
            :margin-bottom 4px
    section.event_content
      :width 75%
      :min-height 100%
      :margin-left 25%
    ul.tweets
      :margin-bottom 22px
      +rounded(11px)
      :border 2px solid #ddd
      :background #fafafa
      :padding 20px
      :width 450px
