@import 'reset'
@import 'shared'

#event_admin_bar
  :width 100%
  :background #ccc
  :float left
  :margin-bottom 18px
  ul
    :padding 6px
    :float left
    :list-style none
    li
      :float left
      a
        :font-size 10px
        :display block
        :padding 3px 6px
        :background #555
        :margin-right 3px
        :text-decoration none
        :font-weight bold
        :color #eee
        +rounded(3px)
      a:hover
        :background #333

section#eventstreams_event
  :clear both
  header
    :padding 9px
    +rounded(6px)
    :margin-bottom 18px
    :background #eee
    :position relative
    :height 36px
    #event_logo
      a
        :display block
        :position absolute
        :left 9px
        :top 9px
        :font
          :size 24px
          :weight normal
        :padding 9px
        :background #199
        :color white
        +rounded(3px)
    a.hashtag
      :position absolute
      :right 9px
      :top 9px
      :display block
      :font
        :size 24px
        :weight normal
      :padding 9px
      :background #199
      :color white
      +rounded(3px)
      