.user_content_panel
  %h2 Edit Your Account Details 
  -form_for @user, :html => { :multipart => true } do |form|
    %ol
      = render :partial => '/users/form', :object => form
      %li
        %button{:type => 'submit'} Update