- title "Edit Event Page"

= render :partial => 'form'

%p
  = link_to "Show", user_event_event_page_path(current_user, @event)
  |
  = link_to "View All", user_event_event_pages_path(current_user, @event)
