- title "Event Page"

%p
  %strong Title:
  =h @event_page.title
%p
  %strong Content:
  =h @event_page.content
%p
  %strong Event:
  =h @event_page.event_id
%p
  %strong Published:
  =h @event_page.published