- unless current_subdomain.blank?
  - title @event.title
  %p
    %strong Title:
    =h @event.title
  %p
    %strong Start Date:
    =h @event.start_date
  %p
    %strong End Date:
    =h @event.end_date
  
-else
  - title "Event Admin"

  %p
    %strong Start Date:
    =h @event.start_date
  %p
    %strong End Date:
    =h @event.end_date
  - if current_user && is_owner?(@event) 
    %p= link_to "Edit This Event", edit_user_event_path(current_user, @event)