- unless current_subdomain.blank?
  - title @event.title
  %p
    %strong Title:
    =h @event.title
  %p
    %strong Start Date:
    =h @event.start_date
  %p
    %strong End Date:
    =h @event.end_date