#signin.account_form.form_wrapper
  %h2=t('passwords.new.header')
  %p=t('passwords.new.message')
  
  - form_for :password, :url => passwords_path do |form|
    %ol.account_form
      %li
        = form.label :email, t('passwords.new.form.email')
        = form.text_field :email
      %li
        %button.button{:type => 'submit'}=t('passwords.new.form.submit')