- title "Edit Speaker"

= render :partial => 'form'

%p
  = link_to "Show", user_event_talk_speaker_path(current_user, @event, @talk, @speaker)
  |
  = link_to "View All", user_event_talk_url(current_user, @event, @talk)
